{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main-content %}
<div class="container">
	<div class="row my-3">
		<div class="col-sm-6 offset-sm-3">
			<h3>Login</h3>
			<hr>
			{% if messages %}
			{% for message in messages %}
			<p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
			{% endfor %}
			{% endif %}
			<form action="" method="post" novalidate class="shadow p-5">
				{% csrf_token %}


				{% for fields  in form %}
				<div class="mb-3">
					<label for="{{ fields.auto_id }}" class="form-label">{{fields.label_tag}}</label>
					{{ fields }}
					<small class="text-danger">{{ fields.errors|striptags }}</small>
				</div>
				{% endfor %}

				<div class="d-flex justify-content-between align-items-center">
					<input type="submit" value="Login" class="btn btn-primary">
					<small><a href="{% url 'password_reset' %}">Forget Password ?</a></small>
				</div>

				<div class=" text-end text-primary fw-bold mt-4">
					<small>New to ShoppinglyX ?
						<a href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a>
					</small>
				</div>

				{% if form.non_field_errors %}
				{% for error in form.non_field_errors%}
				<p class="alert alert-danger my-3">{{error}}</p>
				{% endfor %}
				{% endif %}
			</form>
		</div>
	</div>
</div>
{% endblock main-content %}